* {
    border:1px red solid;
    background-color: tan;
}

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:8px;
}

.main {
    border:1px red solid;
    margin:1px;
    display:flex;
    justify-content:center;
    /* align-items:center; */
    flex-wrap:wrap;
    flex:1 1 600px;
    height:500px;
}

.etch {
    border:1px blue solid;
    flex:0 1 30px;
    height:30px;
    width: 30px;
    margin:5px;
}

.title {
    color:red;
    text-align: center;
    flex-grow:0;
}