* {
    border:1px red solid;
    background-color: tan;
}

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:8px;
}

.main {
    border:1px red solid;
    margin:1px;
    display:flex;
    justify-content:center;
    /* align-items:center; */
    flex-wrap:wrap;
    flex:1 1 600px;
    height:500px;
}

.etch {
    border:1px blue solid;
    flex:1 0 3px;
    width:auto;
    height:30px;
    margin:0px;
    /* height:30px; */
}

.rows {
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content:stretch;
    height:auto;
}

.title {
    color:red;
    text-align: center;
    flex-grow:0;
}